<button class="btn-primary" id="btn" onclick="increaseCounter(this)">{{ increaseText }}</button>
<span class="text-primary" id="counter">0</span>
<button class="btn-primary" id="btn" onclick="decreaseCounter(this)">{{ decreaseText }}</button>
